<h1>Investigate securities properties</h1>

<h3>Pandas profiler</h3>

In [ ]:
# the installation take few minutes - 
# it is recommended running it on a clean notebook with only pandas imported and the dataset read.
# when using matplotlib inline there could be some problems and errors

# pip install -U pandas-profiling[notebook]
# jupyter nbextension enable --py widgetsnbextension

<h3>Imports</h3>

In [1]:
import pandas_profiling
from pandas_profiling import ProfileReport

<h3>Installations</h3>

In [ ]:
# !pip install yfinance

<h3>More Imports</h3>

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
#import yfinance as yf
#import matplotlib.pyplot as plt

# inline plot 
#%matplotlib inline

In [ ]:
import warnings
warnings.filterwarnings('ignore')

<h3>Read files</h3>

In [ ]:
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
data_folder = "../DataRaw/"
data_out    = "../DataWork/"

dat_fname = data_out + "yahoo_download_2022_03_05.csv"
#dat_fname = data_out + "yahoo_download_" + pd.to_datetime('today').strftime('%Y_%m_%d') + ".csv"

In [ ]:
assets = pd.read_csv(data_folder + "M6_Universe.csv", index_col=0)
symbols = assets.symbol.to_list()

In [ ]:
assets.shape

In [4]:
dat = pd.read_csv(dat_fname,header=[0,1],index_col=0)

In [5]:
dat.head()

           Adj Close                                                       \
                ABBV        ACN        AEP        AIZ ALLE       AMAT AMP
Date
2004-12-31       NaN  19.976091  17.274654  22.410946  NaN  12.820436 NaN
2005-01-03       NaN  19.509987  17.113684  22.520985  NaN  12.610504 NaN
2005-01-04       NaN  19.051273  17.048288  22.080837  NaN  12.370594 NaN
2005-01-05       NaN  18.977295  16.847065  21.897440  NaN  12.160666 NaN
2005-01-06       NaN  18.807127  16.852093  22.447630  NaN  12.070700 NaN

                                             ... Volume                        \
                 AMZN        AVB        AVY  ...    XLC        XLE        XLF
Date                                         ...
2004-12-31  44.290001  40.959309  38.327103  ...    NaN   632200.0   701424.0
2005-01-03  44.520000  40.469757  37.815807  ...    NaN  3981600.0  5011647.0
2005-01-04  42.139999  40.018269  37.291748  ...    NaN  6333300.0  7426746.0
2005-01-05  41.770000  38.087261  36.831596  ...    NaN  3974000.0  2943321.0
2005-01-06  41.049999  38.701920  37.272568  ...    NaN  5028800.0  3211925.0

                                                                             \
                  XLI        XLK        XLP        XLU        XLV       XLY
Date
2004-12-31   162800.0   489300.0   226200.0   675100.0   236300.0  105500.0
2005-01-03   421800.0  1323900.0   813900.0  2026400.0   606200.0  429200.0
2005-01-04  1901800.0   764700.0  2075600.0  1287600.0   454300.0  845100.0
2005-01-05   882400.0   813500.0  1772000.0  1431900.0   448300.0  130300.0
2005-01-06   252600.0   481700.0   594900.0   772200.0  1247500.0  129200.0


                   XOM
Date
2004-12-31   8497000.0
2005-01-03  16009200.0
2005-01-04  16718000.0
2005-01-05  12189100.0
2005-01-06  13098700.0

[5 rows x 800 columns]

In [6]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4394 entries, 2004-12-31 to 2022-03-04
Columns: 800 entries, ('Adj Close', 'ABBV') to ('Volume', 'XOM')
dtypes: float64(800)
memory usage: 26.9+ MB

<h3>All assets</h3>

In [ ]:
dat.columns.levels[0]

In [ ]:
splits = dat['Stock Splits'].apply(lambda x: sum(x > 0))
assets['splits'] = splits.values

In [ ]:
first_day = dat['Adj Close'].apply(lambda x: x.dropna().index[0])
assets['first_trade'] = first_day.values

In [ ]:
assets

<h3>Plot for each symbol</h3>

In [ ]:
#strange IEFM.L spikes
for i in symbols:
    dat['Adj Close'][i].plot()
    plt.ylabel('Adj Close of ' + i)
    plt.title(i)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

<h3>Flat index for header</h3>

In [7]:
data = dat['Adj Close']
#data.columns = ["_".join(reversed(a)) for a in dat.columns.to_flat_index()]
data.head()

,ABBV,ACN,AEP,AIZ,ALLE,AMAT,AMP,AMZN,AVB,AVY,...,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2004-12-31,NaN,19.976091,17.274654,22.410946,NaN,12.820436,NaN,44.290001,40.959309,38.327103,...,NaN,23.093752,17.446445,22.160181,16.714777,14.864493,15.247428,22.580473,28.146711,29.021376
2005-01-03,NaN,19.509987,17.113684,22.520985,NaN,12.610504,NaN,44.520000,40.469757,37.815807,...,NaN,22.241714,17.383581,21.967607,16.572250,14.864493,15.072234,22.318695,27.963280,28.358984
2005-01-04,NaN,19.051273,17.048288,22.080837,NaN,12.370594,NaN,42.139999,40.018269,37.291748,...,NaN,22.127275,17.217871,21.696587,16.263451,14.812972,14.968214,22.139191,27.636274,28.166485
2005-01-05,NaN,18.977295,16.847065,21.897440,NaN,12.160666,NaN,41.770000,38.087261,36.831596,...,NaN,22.031895,17.189291,21.546806,16.208029,14.735678,14.732788,22.101797,27.532581,28.019283
2005-01-06,NaN,18.807127,16.852093,22.447630,NaN,12.070700,NaN,41.049999,38.701920,37.272568,...,NaN,22.413397,17.275013,21.618132,16.160515,14.806520,14.809441,22.266342,27.389015,28.375961

In [8]:
profile = ProfileReport(df = data, title = "Data Report") #minimal = True)

In [9]:
profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [10]:
profile.to_file("../DataWork/profile_report.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]